import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';

import { <%= classify(name) %>FormComponent } from './<%= name %>-form.component';

@NgModule({
  imports: [CommonModule],
  declarations: [<%= classify(name) %>FormComponent],
})
export class <%= classify(name) %>Module {}