<app-section title="Informações Pessoais">
  <form
    class="form"
    [formGroup]="this.personalInformationForm"
    name="personal-information-form"
  >
    <div class="row">
      <div class="col-6">
        <app-custom-input label="Name">
          <input
            formControlName="name"
            name="name"
            type="text"
            class="form-control"
            id="input-name" 
            maxLength="80"
            appInputRef
          />
        </app-custom-input>
      </div>
      
      <div class="col-6">
        <app-custom-input label="Password">
          <input
            formControlName="password"
            name="password"
            type="password"
            class="form-control"
            id="input-password" 
            minLength="6"
            appInputRef
          />
        </app-custom-input>
      </div>
      
      <div class="col-6">
        <app-custom-input label="Email">
          <input
            formControlName="email"
            name="email"
            type="text"
            class="form-control"
            id="input-email" 
            pattern="^\S+@\S+$"
            appInputRef
          />
        </app-custom-input>
      </div>
      
      <div class="col-6">
        <app-custom-input label="Age">
          <input
            formControlName="age"
            name="age"
            type="number"
            class="form-control"
            id="input-age" 
            min="0" 
            max="120"
            appInputRef
          />
        </app-custom-input>
      </div>
      
      <div class="col-6">
        <app-custom-input label="Nationality">
          <input
            formControlName="nationality"
            name="nationality"
            type="text"
            class="form-control"
            id="input-nationality"
            appInputRef
          />
        </app-custom-input>
      </div>
      
      <div class="col-6">
        <app-custom-input label="CPF">
          <input
            formControlName="cpf"
            name="cpf"
            type="text"
            class="form-control"
            id="input-cpf" 
            mask="000.000.000-00"
            appInputRef
          />
        </app-custom-input>
      </div>
      
      <div class="col-6">
        <app-custom-input label="Phone Number">
          <input
            formControlName="phoneNumber"
            name="phone-number"
            type="tel"
            class="form-control"
            id="input-phone-number" 
            mask="(00) 00000-0000"
            appInputRef
          />
        </app-custom-input>
      </div>
      
    </div>
    <div class="row">
      <div class="col-6 d-flex justify-content-start w-25 p-3">
        <button
          type="reset"
          [disabled]="!this.personalInformationForm.touched"
          (click)="onReset()"
          class="btn btn-danger"
          name="reset"
        >
          Cleanup form
        </button>
      </div>
      <div class="col-6 d-flex justify-content-end w-25 p-3">
        <button
          type="submit"
          [disabled]="!this.personalInformationForm.valid"
          (click)="onSubmit()"
          name="submit"
          class="btn btn-primary"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</app-section>
