.container {
	margin: 100px auto 70px;
	border: 0px transparent;
	.title {
		filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.05));
		font-size: 2em !important;
		text-align: center;
		font-family: 'Exo 2', Arial, Helvetica, sans-serif;
		margin: 0;
		text-transform: none;
		font-weight: bold;
		text-transform: uppercase;
	}
	.subtitle {
		filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.05));
		font-size: 1.2em !important;
		font-family: 'Exo 2', Arial, Helvetica, sans-serif;
		text-transform: none;
		font-weight: bold;
	}

	.content {
		margin-top: 40px;
	}
}
