.form {
	&-group {
		position: relative;
	}

	&__label {
		font-weight: normal;
		font-size: 16px;
		color: #646161;
	}
	&__optional {
		color: red;
	}
}

.has-error {
	input.ng-invalid,
	input.invalid-field {
		border: 1px solid #dc0a0a;
	}
	input.invalid-field:focus {
		outline: 1px solid #dc0a0a !important;
		border: 1px solid #dc0a0a;
		z-index: 3;
		outline-offset: 0;
	}
}
